body {
    font-family: "Poppins", sans-serif;
  }
.bg-img-1 {
    background-image: url(/image/cover-crsl.jpg);
}
.bg-img-2 {
    background-image: url(/image/cover-crsl.jpg);
}
.bg-img-3 {
    background-image: url(/image/cover-crsl.jpg);
}
.carousel-img {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* box-shadow: inset 0px 0px 10px rgba(0,0,0,0.9); */
    box-shadow: inset 50px 50px 50px black;
}
/* Section 2 */
.sec-two {
    margin-top: 200px;
}
.toast {
    top: 150px;
}
.card-wedding:hover {
    background-color: blue;
    color: white;
    border-radius: 20px;
    transition: 1s;
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
.card-cline-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
